[submodule "src/csm"]
	path = src/csm
	url = https://github.com/AlexKaravaev/csm.git
[submodule "ros2_laser_scan_matcher"]
	path = ros2_laser_scan_matcher
	url = https://github.com/larmesto/ros2_laser_scan_matcher
[submodule "src/ros2_laser_scan_matcher"]
	path = src/ros2_laser_scan_matcher
	url = https://github.com/larmesto/ros2_laser_scan_matcher
