[submodule "ros2_laser_scan_matcher"]
	path = src/ros2_laser_scan_matcher
	url = https://github.com/larmesto/ros2_laser_scan_matcher
[submodule "csm"]
	path = src/csm
	url = https://github.com/AlexKaravaev/csm
